html {
    font-size: 14px;
}

.margin {
    height: 100%;
    width: auto;
}

.bg_pic {
    /* background-color: white;
    background-image: url(fightbg.png);
    background-size: 150% 150%;

    background-repeat:repeat-y;
    background-attachment:scroll;
    background-position: center; */


    background-image: url('fightbg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;

    height: 320px;

    /* background-size: 150% 150%; */
    /* min-height: 100vh; */
    width: 520px;
}