<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_hp.css" type="text/css">
    <!--CAN WE GIVE THIS OUR OWN NAME-->
    <title>Dreamify Travelz</title>
</head>
<body>
    <div class="bg_img">
        <div class="design">
            <div class="margin">
                <h1 class="center_txt">Welcome to Dreamify Travelz</h1>


                <div class="center_txt">
                    <img src="/images/flight_in_sky.png" alt="Image" id="displayedImage" class="flight_in_sky_att">

                    <p class=""> We are focused on providing you top tier travel info and a smooth travel booking experience!</p>

                    <h2 class=""> Learn about what tourist attractions to expect: <a href="/popularDestinations">Attractions</a></h2>

                    <h2 class=""> Find your desired flight: <a href="/travel_info">Find my Flight</a></h2>
                </div>

                <!-- <p class=""> We are focused on providing you... </p>

                <h2 class=""> Learn about what tourist attractions to expect: <a href="/change_this_to_proper_name">Attractions</a></h2>

                <h2 class=""> Find your desired flight: <a href="/travel_info">Find my Flight</a></h2> -->
            </div>
        </div>
    </div>


</body>
</html>